/*estilos de menu*/
.color-h1{
    background-color: beige;
}
.color-nav{
    background-color: aquamarine;
}
.color-h2{
    background-color: beige;
}
.color-ul{
    background-color: blueviolet;
    text-align: center;
}